@font-face {
    font-family: roboto;
    src: url(./Roboto-Regular.ttf);
}
.container{
    display: grid;
    grid-template-columns: 12em 1fr 16em;
    grid-template-rows: auto 1fr;
    font-family: roboto;
}

.sheader{
    margin-left: .2em;
    margin-top: .3em;
    font-size: 14pt;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: left;
    column-gap: .2em;
    align-content: center;
    justify-content: center;
}
.sheader div{
    align-self: center;
}
.sidebar{
    background-color: #1992D4;
    grid-row: 1/3;
    color: #ffffff;
    display: grid;
    grid-template-rows: auto 1fr auto 300px;
    font-weight: 1000;
}
.sidebar ul{
    list-style: none;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(autofit minmax(30px, 1fr));
    padding: 0;
    margin-left: .50em;
    font-size: 14pt;
    row-gap: .9em;
}
.sidebar ul li{
    display: grid;
    grid-template-columns: auto 1fr;
    align-content: center;
    column-gap: .9em;
}
.header{
    grid-row: 1/2;
    grid-column: 2/4;
    /* background-color: #eeebeb; */
}
.topbar{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}
.icons{
    display: flex;
    flex-flow: row nowrap;
    gap: .6em;
}
.user{
    font-size: larger;
}
.username{
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.search{
    display: grid;
    grid-template-columns: 24px auto;
    gap: .2em;
    margin-left: 1em;
    justify-self: center;
}
.searchbar{
    background-color: #E2E8F0;
    border-radius: 20px;
    width: 39em;
}
.userDisplay{
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}
.hcontent{
    display: flex;
    flex-flow: row;
    margin-left: 1vw;
}
.hero{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 1.5em;
    /* box-shadow: 0 12px 9px rgb(0, 0, 0); */
}
.hero .user{
    font-size: 3em;
}
.buttons{
    display: flex;
    gap: 1.5em;
    justify-content: center;
    align-items: center;
    margin-right: 1vw;
}
.buttons button{
    background-color: #1992D4;
    border-radius: 30px;
    width: 5em;
    height: 2.5em;
    border: none;
    color: #ffffff;
}
.hname{
    font-size: 1.5em;
}
.content{
    grid-column: 2/3;
    background-color: #E2E8F0;
}
.deck{
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(80px, auto));
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    row-gap: 2em;
    column-gap: 1em;
    margin-left: .8em;
}
.dheader{
    margin-left: .8em;
    margin-top: .2em;
    margin-bottom: .4em;
    font-size: 20pt;
}
.card{
    display: grid;
    grid-template-rows: auto 1fr auto;
    /* grid-template-columns: 20vw; */
    row-gap: 8px;
    justify-items: center;
    justify-content: center;
    /* width: 50vw; */
    background-color: white;
    padding: 1.6em;
    border-radius: 18px;
    border-left: 10px solid #F0B429;
    /* width: 15vw; */
}
.cheader{
    font-weight: bold;
    font-size: 19pt;
    grid-column: 1/3;
    
}
.ccontent{
    font-size: 10pt;
    text-align: left;
    font-weight: lighter;
    width: calc(auto + 50px);
    color: #636363;
}
.cbuttons{
    display: flex;
    gap: 6px;
    grid-row: 3/4;
    justify-self: end;
}
.info{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #E2E8F0;
    display: grid;
    grid-template-rows: repeat(2, auto);
    justify-content: center;
    align-items: center;
}
.announcements,
.trending{
    display: grid;
    grid-template-rows: 30% 30% 30%;
    justify-content: center;
    align-items: center; 
}
.announcements .header,
.trending .header{
    /* text-align: center; */
    margin-left: .4;
    margin-bottom: .6em;
    font-size: 14pt;
    font-weight: 900;
}
.title{
    font-size: 10pt;
    grid-row: 2/3;
    grid-column: 1/3;
    font-weight: 900;
    margin-left: 1.7em;
}
.announcements .content,
.trending .content{
    color: #636363;
    font-size: 9pt;
    grid-row: 3/4;
    border-radius: 8px;
    padding: 2em;
    background-color: white;
}